.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Heading{
    font-weight: 600;
    font-size: 40px;
    color: #292934;
    padding-bottom: 52px;
    padding-top: 26px;
}


.tableHead{
    width: 1130px;
    height: 78px;
    box-sizing: border-box;
    background: #464E5F;
    border-bottom: 1px solid #C2C2C2;
    border-radius: 8px 8px 0px 0px;
    color: white;
    display: flex;
    flex: wrap;
    align-items: center;
    padding-left: 18px;
}


.userCard{
    width: 1100px;
    color: #464E5F;
    padding: 24px 16px;
    background: #FFFFFF;
    border-bottom: 1px solid #C2C2C2;
    display: flex;
    flex: wrap;
}

.slhead{
    width: 100%;
    max-width: 110px;
}

.sl{
    width: 100%;
    max-width: 110px;
    font-weight: 600;
    font-size: 11px;
}

.Name{
    width: 100%;
    max-width: 134px;
}

.Age{
    width: 100%;
    max-width: 52px;
}

.gender{
    width: 100%;
    max-width: 74px;
}  

.height{
    width: 100%;
    max-width: 74px;
}

.weight{
    width: 100%;
    max-width: 64px;
}

.phone{
    width: 100%;
    max-width: 110px;
}

.emailHead{
    width: 100%;
    max-width: 234px;
}

.email{
    width: 100%;
    max-width: 234px;
    color: #3699FF
}

.addressHead{
    width: 100%;
    max-width: 140px;
}

.address{
    width: 100%;
    max-width: 140px;
    font-weight: 600;
    font-size: 11px;
    
}

.paymentHead{
    width: 100%;
    max-width: 88px;
}

.paymentp{
    background: rgba(0, 239, 110, 0.16);
    color: #00EF6E;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    height: 34px;
    width: 100%;
    max-width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentd{
    background: rgba(248, 184, 78, 0.16);
    color: #F8B84E;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    height: 34px;
    width: 100%;
    max-width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}